@mixin verysmall {
  @media screen and (max-width: 50rem) {
    @content;
  }
}




@mixin small {
  @media screen and (min-width: 50rem) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 60rem) {
    @content;
  }
}

@mixin big {
  @media screen and (min-width: 90rem) {
    @content;
  }
}

@mixin tag($laCouleur){
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: $laCouleur;
}