$defaultTransition: background-color .15s ease, color .15s ease;

$red-dark: #e03030;
$red-light: #dd221f;
$blue-dark: #2143ec;
$blue-light: #778beb;
$border: rgba(0, 0, 0, .2);
$background: white;
$text: black;